<section class="contact section" id="contact">
  <div class="container">
    <h2 class="heading-icon" data-icon="&#xf0e0;">Get In Touch</h2>
    <div class="contact-content">
      <div class="contact-form-wrapper">
        <app-languages></app-languages>
      </div>
      <div class="contact-info">
        <div class="info-card" *ngFor="let item of contactInfo">

          <div class="info-icon">
            <i [class]="item.icon" aria-hidden="true"></i>
          </div>

          <div class="info-content">

            <!-- Email -->
            <a *ngIf="item.type === 'email'" [href]="'mailto:' + item.value">
              {{ item.value }}
            </a>

            <!-- Phone -->
            <a *ngIf="item.type === 'phone'" [href]="'tel:' + item.value">
              {{ item.display || item.value }}
            </a>

            <!-- External Links (LinkedIn, GitHub, etc.) -->
            <a *ngIf="item.type === 'link'" [href]="item.value" target="_blank" rel="noopener noreferrer">
              {{ item.label }}
            </a>

            <!-- Location / Text -->
            <p *ngIf="item.type === 'text'">
              {{ item.value }}
            </p>

          </div>

        </div>

      </div>



    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; {{ currentYear }} <a href="https://gowthambtech27.github.io/Personal/" target="_blank"
        rel="noopener noreferrer">Gowtham Palanichamy</a>. All rights reserved.</p>

  </div>
</footer>