<section class="contact section" id="contact">
  <div class="container">
    <h2 class="heading-icon" data-icon="&#xf0e0;">Get In Touch</h2>
    <div class="contact-content">
      <div class="contact-form-wrapper">
        <app-languages></app-languages>
      </div>
   <div class="contact-info">
  <div class="info-card" *ngFor="let item of contactInfo | keyvalue">
    
    <div class="info-icon">
      <i [class]="item.value.icon"></i>
    </div>

    <div class="info-content">
      <!-- Email -->
      <a *ngIf="item.key === 'email'" [href]="'mailto:' + item.value.value">
        {{ item.value.value }}
      </a>

      <!-- Phone -->
      <a *ngIf="item.key === 'phone'" [href]="'tel:' + item.value.value">
        {{ item.value.value }}
      </a>

      <!-- LinkedIn or other URLs -->
      <a *ngIf="item.key === 'linkedin'" [href]="item.value.value" target="_blank" rel="noopener noreferrer">
        {{ item.value.value }}
      </a>

      <!-- Plain text (e.g., location) -->
      <p *ngIf="item.key === 'location'">
        {{ item.value.value }}
      </p>
    </div>

  </div>
</div>



    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
<p>&copy; {{ currentYear }} <a href="https://gowthambtech27.github.io/Personal/" target="_blank" rel="noopener noreferrer">Gowtham Palanichamy</a>. All rights reserved.</p>
<p class="footer-text" *ngIf="lastVisit">
  Your last visit was: <b>{{ lastVisit | date:'medium' }}</b>
</p>

  </div>
</footer>